*{
  font-family: 'Poppins',sans-serif;
}
.main{
  display: flex;
  justify-content: center;
}

.calender-header-container{
  display: flex;
  margin-left: 39%;
}

.calender-month-year-container{
  display: flex;
  justify-content: space-between;
  width: 365px;
  margin-left: 5%;
}

.year-input-box{
  width: 50px;
}
.table-container{
  display: flex;
  flex-direction: column;
  width: 365px;
  margin: 5%;
}

.table-header-container{
  display: flex;
  border-bottom: 1px solid #282c34;
}

.table-body-container{
  display: flex;
  flex-direction: column;
}

.table-row-container{
  display: flex;
}

.table-cell-container{
  display: flex;
  flex-direction: row;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #f2f2f2;
  color: #282c34;
}



.table-selected-cell-container{
  display: flex;
  flex-direction: row;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  color: #f2f2f2;
}

.table-cell-container:hover{
  background-color: #282c34;
  color: #f2f2f2;
}

.btns{
  display: flex;
  justify-content: space-between;
  width: 365px;
  margin: 5%;
}

.btns-Shell{
  display: flex;
  justify-content: space-between;
  width: 20%;
}